* {
  font-family: 'Open Sans', sans-serif;
}

body { margin: 0 10%; }

h1 { color: black; }
h2 { color: darkorange; }

ul.nav {
  margin: 0;
  padding: 0;
  background-color: darkorange;
}

ul.nav li { display: inline; }

ul.nav li a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
  background-color: grey;
  transition: 0s;
}

ul.nav li a.active {
  color: darkorange;
  background-color: black;
  font-weight: bold;
}

ul.nav li:hover {
  background-color: #555;
  transition: 0s;
}

img {
  border: 10px;
  border-style: solid;
  border-color: orange;
  margin: 0px 30px;
  float: right;
}

table {
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: darkorange;
  background: #eee;
  padding: 0px;
  border-spacing: 0px;
  margin: 20px 40px;
}

th {
  color: white;
  background-color: darkorange;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell, td.facell, td.uicell {
  font-weight: bold;
}

td.trcell { color: darkred;   }
td.facell { color: darkorange;     }
td.uicell { color: red; }
